/** 图层控制样式 */
.leaflet-control-layers-group-name {
  font-weight: 700;
  margin-bottom: 0.2em;
  margin-left: 3px;
}

.leaflet-control-layers-group {
  margin-bottom: 0.5em;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}

.leaflet-control-layers-group-label {
  margin-bottom: 2px;
}

.leaflet-control-layers-group-selector,
.leaflet-control-layers-selector {
  vertical-align: top;
}

.leaflet-control-layers-group label:not(.leaflet-control-layers-group-label) {
  text-indent: 15px;
}

.leaflet-control-layers-group.group-collapsable.collapsed
  .leaflet-control-layers-group-collapse,
.leaflet-control-layers-group.group-collapsable:not(.collapsed)
  .leaflet-control-layers-group-expand,
.leaflet-control-layers-group.group-collapsable.collapsed
  label:not(.leaflet-control-layers-group-label) {
  display: none;
}

.leaflet-control-layers-group-expand-default::before {
  display: inline-block;
  width: 12px;
  text-align: center;
  content: '+';
}

.leaflet-control-layers-group-collapse-default::before {
  display: inline-block;
  width: 12px;
  text-align: center;
  content: '-';
}

/** map 样式 */
@font-face {
  font-family: 'Hylia Serif Beta', sans-serif;
  src: url('@/assets/fonts/HyliaSerifBeta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url('@/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: OpenSans, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  -webkit-touch-callout: none;
  user-select: none;
}

.leaflet-control-layers-group > .leaflet-control-layers-group-label {
  text-decoration: underline;
}

.leaflet-control-layers-group > label:not(.leaflet-control-layers-group-label) {
  font-style: italic;
  margin-left: 10px;
}

.leaflet-control-layers-expanded {
  min-width: 220px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-tooltip,
.leaflet-control {
  color: rgb(200 195 188) !important;
  background-color: rgb(24 26 27) !important;
  border: 0 !important;
}

.leaflet-tooltip-right::before {
  border-color: transparent rgb(24 26 27) transparent transparent !important;
}

.leaflet-tooltip-left::before {
  border-color: transparent transparent transparent rgb(24 26 27) !important;
}

.leaflet-tooltip-top::before {
  border-color: rgb(24 26 27) transparent transparent transparent !important;
}

.leaflet-tooltip-bottom::before {
  border-color: transparent transparent rgb(24 26 27) transparent !important;
}

.leaflet-control-zoom-in {
  border-bottom: 1px solid rgb(104 101 97) !important;
}

.leaflet-control-layers-separator {
  border-top: 1px solid rgb(104 101 97) !important;
}

.leaflet-control-layers-group-label input[type='checkbox'] {
  vertical-align: middle;
  float: right;
  margin: 2px 2px 2px 0;
}
